<section class="insurance">
  <div class="container-insurance">
    <h2>Our Services</h2>
    <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
  </div>
  <div class="grid-insurance">
    <div class="insurance-item">
      <div class="insurance-item-img">
        <img src="../../../assets/images/insurances-1.png" alt="">
      </div>
      <div class="insurance-item-text">
        <h3>Health Insurance</h3>
        <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
      </div>
    </div>
    <div class="insurance-item">
      <div class="insurance-item-img">
        <img src="../../../assets/images/insurances-1.png" alt="">
      </div>
      <div class="insurance-item-text">
        <h3>Health Insurance</h3>
        <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
      </div>
    </div>
    <div class="insurance-item">
      <div class="insurance-item-img">
        <img src="../../../assets/images/insurances-1.png" alt="">
      </div>
      <div class="insurance-item-text">
        <h3>Health Insurance</h3>
        <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
      </div>
    </div>
  </div>
</section>
